/* Html Custom Font */
* {
    font-family: helvetica;
}
h2{
    font-size: 26px !important;
}
h3{
    font-size: 24px !important;
}
h4{
    font-size: 18px !important;  
}

p, li, option, input, select, .cars-detail {
    font-size: 14px !important;
    padding-top: 15px;
}

/* Html Custom Color */
main .row, .footer {
    padding-top: 120px;
    padding-left: 30px;
}

.btn, .btn:hover{
    background-color:#5CB85F !important;
    border-color: #5CB85F !important;
}

/* Header */
header{
    background-color: transparent;
    height: 80px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.logo-area {
    background-color: #0D28A6;
    margin-top: 15px;
    width: 110px;
    height: 35px;
    margin-left: 30px;
}

.navbar-area {
    max-width: 100% !important;
}

.navbar-area ul {
    padding-top: 20px;
    font-size: 14px; 
    padding-right: 30px;
    display: flex;
    justify-content:space-between;
}


.navbar-area ul li {
    display: inline;
    list-style: none;
}

.navbar-area ul li a {
    text-decoration: none;
    color: black;
}

/* Content Area */
/* Front Page */ 
.front-page {
    background-color: #F1F3FF;
}

.front-text{ 
    padding-top: 10px;
    padding-right: 50px;
}

.front-image{
    padding-right: 0 !important;
}

#car-pics {
    float: right;
    width: 100vw;
    max-width: 120%;
    padding-top: 30px;
}

.btn a, .btn a:hover {
    text-decoration: none;
    color: white;
}

/* Form Sewa Mobil */
.Form-sewa{
    display: flex;
    justify-content: center;
}

.form-content{
    padding-top: 0px !important;
    width: 1050px;
    height: 150px;
    align-items: center;
    background: white;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    position: relative;
    Top: 150px;
    left: 135px;
}

.searchButton {
    margin-top: 60px;
}

/* Cars Card */
#cars-container {
    display: flex;
    justify-content: center;
}
.cars-card{
    width: 350px;
    height: 600px;
    padding-top: 30px;
    align-items: center;
    background: white;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    margin: 10px;
}

.cars-price, .cars-subtitle {
    padding-top: 0 !important;
}

.carscard-images {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.cars-subtitle {
    height: 50px;
}

.chooseButton {
    margin-top: 30px;
}

/* Our Services */
.services-text {
    padding-top: 30px;
    justify-content: left;
}

.services-list{
    list-style: none;
    padding-left: 0;
}

#service-pics {
    width: 85vw;
    align-items: center;
}

/* Why Us */
.whyus-title {
    justify-content: left;
}

.whyus-content {
    align-items: flex-start;
    display: inline-flex;
    padding-right: 102px !important;
}

.whyus-card{
    width: 298px;
    height: 196px;
    border: 1px solid #E5E5E5;
    padding: 15px;
    margin-right: 20px;
    border-radius: 10px;
    position:relative;
    margin-top: 10px;
}

/* Testimonial */
.testimonial-title, .testimonial-carousel {
    text-align: center;
}

.carousel-button-left {
    text-align: end;
}

.carousel-item {
    padding: 30px;
}
.carousel-card {
    align-items: center;
    padding: 0 !important;
}
.card{
    border-color:#F1F3FF !important;
    background-color: #F1F3FF !important;
    border-radius: 5px;
}

.card-body {
    padding: 10 !important;
    align-items: center;
}

.btn-carousel {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.carousel-control {
    background: #5CB85F;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel button {
    border-radius: 100%;
    margin: 5px 15px;
}

.tombol-crsl {
    width: 10px;
    height: 10px;
}

.card-photo {
    display: flex;
    justify-content: center;
}

/* CTA Banner */
.cta-banner{
    display: flex;
    justify-content: center;
}
.ctabanner-content{
    width: 80vw;
    height: 60vh;
    background-color:#0D28A6;
    color: white;
    border-radius: 10px;
    position:relative;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* FAQ */
.faq-title {
    padding-top: 30px;
    justify-content: left;
}

.accordion {
    padding-right: 30px;
}

.accordion-button {
    border: 1px solid #D4D4D4 !important;
    padding-top: 10px;
}

/* Footer */
footer {
    padding-top: 40px;
    justify-content: left;
}

.logo-footer {
    background-color: #0D28A6;
    margin-top: 15px;
    width: 110px;
    height: 35px;
}

#car-pics {
    width: 50vw !important;
}

#service-pics {
    width: 35vw !important;
    padding-left: 50px;
}

